h1{
    font-weight: 900;
    font-size: 8em;
    -webkit-text-shadow: 0 .3rem .9rem rgba(0,0,0,.4);
    text-shadow: 0 0.3rem 0.9rem rgba(0,0,0,.4);
    letter-spacing: -3px;
}
h1,
.intro p{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
.intro p{
    text-shadow: -1px 1px 8px rgba(0,0,0,.8);
}
#section1 h1{
    -webkit-text-shadow: none;
    text-shadow: none;
}
#slide1-1 h1{
    color: #444;
}
/*
* Setting the backgrounds for each section / slide
*/
#section4 .fp-bg:before,
#section2 .fp-bg:before{
    content: '';
    position: absolute;
    display: block;
    background: rgba(173, 173, 173, 0.2);
    top:0;
    bottom:0;
    height: 100%;
    width: 100%;
}
.fp-bg{
    background-size: cover;
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}
#slide1-1 .fp-bg{
    background-image: url('https://alvarotrigo.com/fullPage/extensions/imgs/parallax/parallax-1-1.jpg');
    background-position: center 80%;
}
#slide1-2 .fp-bg{
    background-image: url('https://alvarotrigo.com/fullPage/extensions/imgs/parallax/parallax-3-2.jpg');
}
#slide1-3 .fp-bg{
    background-image: url('https://alvarotrigo.com/fullPage/extensions/imgs/parallax/parallax-3-3.jpg');
}

#section2 .fp-bg{
    background-image: url('https://alvarotrigo.com/fullPage/extensions/imgs/parallax/parallax-2.jpg');
    background-position: center 60%;
}
#section2 h1{
    color: #fff;
}
#slide3-1 .fp-bg{
    background-image: url('https://alvarotrigo.com/fullPage/extensions/imgs/parallax/parallax-3.jpg');
    background-position: 50% 65%;
}
#slide3-2 .fp-bg{
    background-image: url('https://alvarotrigo.com/fullPage/extensions/imgs/parallax/parallax-3-2.jpg');
}
#slide3-3 .fp-bg{
    background-image: url('https://alvarotrigo.com/fullPage/extensions/imgs/parallax/parallax-3-3.jpg');
}
#slide3-4 .fp-bg{
    background-image: url('https://alvarotrigo.com/fullPage/extensions/imgs/parallax/parallax-3-4.jpg');
}
#section4 .fp-bg{
    background-image: url('https://alvarotrigo.com/fullPage/extensions/imgs/parallax/parallax-4.jpg');
}
.button a.button-purchase:hover {
    background-color: #3cc63c !important;
    color: #fff !important;
}
.button-purchase{
    background: #fff !important;
    color: #000 !important;
}
.documentation a{
    font-size: 13px;
    margin: 20px 0;
    padding: 0;
    color: #222;
}

/*
* Configurations
*/
.actions{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background: rgba(0,0,0,0.6);
    padding: 13px;
    color: white;
    font-size: 13px;
}
.actions-option{
    margin: 0 0 15px 0;
    position: relative;
}
.actions select{
    display: block;
    margin: 5px 0 0 0;
    padding: 3px;
}
.actions-option:last-child{
    margin:0;
}
.actions-title{
    display: block;
    font-size: 30px;
    padding: 10px 0;
}
.note{
    display: none;
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 14px;
    left: 112%;
    bottom: -17px;
    width: 400px;
    background: rgba(0,0,0,0.3);
    padding: 20px;
}
.note-title{
    margin-bottom: 10px;
    display: block;
}
.note li{
    padding: 2px 0;
    list-style: disc;
    margin-left: 26px;
}
.actions-compatible{
    cursor: pointer;
}
.actions-compatible:hover .note{
    display: block;
}
#actions{
    top: 153px;
    left: 30px;
    z-index: 99999;
}
#actions li{
    background: rgba(255,255,255,0.6);
    padding: 7px 12px;
    margin: 2px;
    color: #000;
    display: inline-block;
    cursor: pointer;
}
#actions li:hover,
#actions .active{
    color: #fff;
    background: #81A140;
}

/* STYLE 1 */
h1{
    font-weight: 900;
    font-size: 8em;
    -webkit-text-shadow: 0 .3rem .9rem rgba(0,0,0,.4);
    text-shadow: 0 0.3rem 0.9rem rgba(0,0,0,.4);
    letter-spacing: -3px;
}
h1,
.intro p{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
.intro p{
    text-shadow: -1px 1px 8px rgba(0,0,0,.8);
}
#section1 h1{
    -webkit-text-shadow: none;
    text-shadow: none;
}
#slide1-1 h1{
    color: #444;
}
/*
* Setting the backgrounds for each section / slide
*/
#section4 .fp-bg:before,
#section2 .fp-bg:before{
    content: '';
    position: absolute;
    display: block;
    background: rgba(173, 173, 173, 0.2);
    top:0;
    bottom:0;
    height: 100%;
    width: 100%;
}
.fp-bg{
    background-size: cover;
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}
#slide1-1 .fp-bg{
    background-image: url('https://alvarotrigo.com/fullPage/extensions/imgs/parallax/parallax-1-1.jpg');
    background-position: center 80%;
}
#slide1-2 .fp-bg{
    background-image: url('https://alvarotrigo.com/fullPage/extensions/imgs/parallax/parallax-3-2.jpg');
}
#slide1-3 .fp-bg{
    background-image: url('https://alvarotrigo.com/fullPage/extensions/imgs/parallax/parallax-3-3.jpg');
}

/* STYLE 2 */
.fp-bg {
    top:0;
    bottom:0;
    width: 100%;
    position:absolute;
    z-index: -1;
}
.fp-section,
.fp-slide,
.fp-section.fp-table,
.fp-slide.fp-table,
.fp-section .fp-tableCell,
.fp-slide .fp-tableCell {
    position:relative;
    overflow: hidden;
}

/* STYLE 3 */
.fp-bg {
    transition: transform 1000ms ease;
}
.fp-slide,
.fp-section {
    transition: background-position 1000ms ease;
}

/* STYLE 4 */
.fp-bg-animate {
    transition: all 1000ms ease
}

/* STYLE 5 */

div.header {
    height: 2em;
    width: 100%;
    background: #eee;
    position: static;
    top: 0px;
}

div#main {
}
footer {
    height: 2em;
    width: 100%;
    background: #eee;
    opacity: .7;
    position: fixed;
    bottom: 0px;
}

text.sequence {
    text-anchor: middle;
    font-family: monospace;
}
line.sequence-bg{
    stroke-width:3px;
    stroke:#aaa;
}

g.axis-bubble text {
    text-anchor: middle;
    alignment-baseline: middle;
    font-family: monospace;
}
g.axis-bubble rect {
    stroke: #777;
    fill: white;
}
svg.pviz rect.background {
    fill: #f5f5f5;
}

rect.layer-background {
    fill: white;
    opacity: 0;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

g.layer:hover rect.layer-background {
    opacity: 1.0;
}

/**
 *     color brewer 7 class paired #a6cee3 #1f78b4 #b2df8a #33a02c #fb9a99 #e31a1c #fdbf6f
 */
g.feature rect.feature {
    fill: #a6cee3;
    fill-opacity: 0.9;
    stroke: #555;
    stroke-opacity: 0.6;
}

g.feature text {
    alignment-baseline: middle;
    opacity: 0.75;
}

g.feature.Region rect.feature {
    fill: #1f78b4;
}
g.feature.Molecule_processing rect.feature {
    fill: #b2df8a;
}

g.layer g.strikeout line {
    stroke: #bbb;
    stroke-width: 2px;
}
